<div class="show">
  <div class="show-header">
    <h1>Customer</h1>
  </div>
  <div>
    <label> Id: </label>
    <%= @customer.id %> <%= link_to fa_icon("edit"), edit_customer_path(@customer) %>
  </div>
  <div>
    <label> Name: </label>
    <%= @customer.name %>
  </div>
  <div>
    <label> Cpf: </label>
    <%= @customer.cpf %>
  </div>
  <div>
    <label> Package: </label>
<!--    <%#= @customer.package.name %> - $<%#= @customer.package.price %>-->
    <% @customer.customers_packages.each do |p| %>
        <%= p.package.name %> - $<%= p.package.price %>
    <% end %>
  </div>

  <% unless @customer.customers_additional_services.empty? %>
    <div>
      <label> Additional Services: </label>
      <% @customer.customers_additional_services.each do |as| %>
        <div class="services">
          * <%= as.additional_service.name %> - $<%= as.additional_service.price %>
        </div>
      <% end %>
    </div>
  <% end %>

</div>